.container-div {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.food-name {
}

.food-img {
  display: block;
  margin: auto;
}

.food-img.cookies {
  width: 400px;
}

.food-img.oxtail {
  width: 700px;
}

.description.text {
  text-align: left;
}

.description.ingredients {
  text-align: left;
}
.steps {
  text-align: left;
}
