h1 {
    text-align: center;
}

img {
    display: block;
    margin: auto;
}

.wrapper_list{
 border: 1px solid black;
 text-align: center;
}

.description {
    display: block;
    margin: auto;
    width: 500px;
}

.description h2 {
    text-align: center;
}

.ingredients {
    display:block;
    margin:auto;
    width: 500px;
}

.ingredients h2{
    text-align: center;
}

.ingredients ul{
    text-align: left;
}

.steps{
    display: block;
    margin: auto;
    width:500px;
}

.steps h2 {
    text-align: center;
}

.home-link{
    width: 100%;
    text-align: center;
}